VITE_CONTRACT_ADDRESS=0xd241f547bc97d05a8f65ac5883a6f30a25beabd3d567da9b47ad0b02d9abd7
VITE_RPC_ENDPOINT=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/gpR0c9Le2dR45Fqit9OXTz6dtpf1HPfa
VITE_GRAPH_QL_ENDPOINT=https://umbraswap-production.up.railway.app/
# VITE_GRAPH_QL_ENDPOINT=http://localhost:5100/graphql
VITE_BACKEND_URL=http://localhost:4000