DATABASE_URL=postgres://user:default_password@postgres:5432/checkpoint

RPC_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/gpR0c9Le2dR45Fqit9OXTz6dtpf1HPfa

PORT=5100

CONTRACT_ADDRESS=0xd241f547bc97d05a8f65ac5883a6f30a25beabd3d567da9b47ad0b02d9abd7

START_BLOCK=7035113